.hobby-page-header {
  opacity: 1;
  width: 86%;
  margin: 0.5em auto;
  
}

.hobby-page-header__title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.hobby-page-header__title > p {
  padding: 1em 0;
}

.hobby-page-header > p {
  margin-bottom: 3em;
}
.hobby-page-header__add-event {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
}

.hobby-page__add-event-button {
  display:flex;
  justify-content: center;
}

.hobby-page-header__add-event:hover {
    cursor: pointer;
}

.backbutton {
  text-decoration: none;
}

.hobby-page__add-back-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-back-btn {
  display:flex;
  justify-content: center;
  padding: 2em 0;
  margin-top: 1em;
}

@media only screen and (max-width: 390px) {
  .description{
    font-size: 0.8em;
    font-weight: 500;
  }
}

