.editevent {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 15%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    z-index: 10;
  }
  
  .editevent__form {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }
  
  .editevent__form > * {
    margin: 0.5em auto !important;
  }
  
  .editevent__description {
    padding-bottom: 3em;
  }
  
  .editevent__input {
    width: 400px !important;
  }